/* Card Component Styles */
.custom-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #dddddd;
    max-width: 300px;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.custom-card img.card-img {
    max-width: 100%;
    border-radius: 8px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.card-subtitle {
    font-size: 14px;
    color: #6c757d;
    margin: 5px 0;
}

.card-body {
    font-size: 14px;
    color: #333;
}

.custom-card:hover {
    /* transform: rotate(-1deg); */
    scale: 1.01;
    transition: ease-in-out 0.3s;
}

.custom-card:hover img.card-img {
    scale: .99;
    transition: linear 0.8s;

}